#copyright {
    display: flex;
    flex-direction: row;
    height: 100px;
}

#copyInfo {
    background-color: #24292e;
    color: #ffffff;
    border-radius: 10px;
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 楷体;
    font-size: 17px;
}
#copyAddr {
    /* border: 1px solid red;*/
    width: 75%;
    padding-left: 10px;
    color: #24292e;
    font-family: 黑体;
}
#copyInfoTop {
    display: flex;
    justify-content: center;
}
#copyInfoBottom {
    display: flex;
    justify-content: flex-end;
}
